<component name="ArtifactManager">
  <artifact name="plugin">
    <output-path>$PROJECT_DIR$/out/artifacts/plugin</output-path>
    <properties id="ant-postprocessing">
      <options enabled="true" />
    </properties>
    <root id="root">
      <element id="directory" name="server">
        <element id="archive" name="cloud-azure-server.jar">
          <element id="module-output" name="server" />
        </element>
        <element id="archive" name="cloud-azure-resources.jar">
          <element id="directory" name="buildServerResources">
            <element id="dir-copy" path="$PROJECT_DIR$/server/resources" />
          </element>
        </element>
        <element id="library" level="project" name="com.microsoft.windowsazure:microsoft-azure-api-management-compute:0.5.0" />
        <element id="library" level="project" name="com.microsoft.windowsazure:microsoft-azure-api-management:0.5.0" />
        <element id="library" level="project" name="org.bouncycastle:com.springsource.org.bouncycastle.jce:1.46.0" />
      </element>
      <element id="file-copy" path="$PROJECT_DIR$/server/teamcity-server-plugin.xml" output-file-name="teamcity-plugin.xml" />
    </root>
  </artifact>
</component>